.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-link {
  color: #61dafb;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

.login-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-input label {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-input input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.form-button {
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.form-button:active {
  background-color: #0d7a33;
}
